body{
    font-family: "Roboto";
    color: #1f2937;
    margin:0;
}

p{
    margin: 0;
}

ul{
    list-style:none;
    display:flex;
    gap: 5px;
}

a{
    color:#E5E7Eb;
    text-decoration: none;
    font-size: 18px;
}

button{
    height:25px;
    width:100px;
    border:5px;
    border-radius: 5px;
    background-color: #3882f6;
    color:white
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8; 
}

.hero,.footer{
    background-color: #1f2937;
    color:#E5E7Eb;
    font-size: 18px;
}

.hero{
    padding-bottom: 50px;
   }

.footer{
    text-align: center;
    padding:15px;
}

.hero-main{
    display:flex;
    justify-content: space-between;
    margin:0;
    
}

.hero-lc{
    display: flex;
    flex-direction: column;
    align-content: baseline;
    gap: 5px;
}

.hero-rc{
    background-color: gray;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px;
   
}

.main-text{
    font-size: 48px;
    font-weight:900;
    color:#F9FAF8;
    margin:0;
}

.mc-header{
    font-size: 36px;    
    font-weight: 900;
    text-align: center;
    padding:15px;
}

.main-content{
    display: flex;
    flex-direction: column;

}

.flex-boxes{
    display:flex;
    justify-content:center;
    padding-bottom: 50px;
}

.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    width: 75px;   
    height:75px;
    border-radius: 10px;
    border: 5px solid #3882f6;
    padding:20px;
    margin:20px;
}
.text{
    width:150px;
    text-align: center;

}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    padding:50px;
}

.quote-author{
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

.hero,.footer,.quote{
    padding-left: 100px;
    padding-right: 100px;
}

.call-to-action{
    background-color: #3882f6;
    color:#E5E7EB;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    Margin: 100px 150px;
    border-radius: 15px;
}

.cta-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:0px;
    padding: 50px;
    
}

h1{
    padding:0;
    margin: 0;
}

.button{
    border-color: #E5E7EB;
    border: solid 1px;

}
